<% include ../mixins/_reviewForm %>
<% include ../mixins/_review %>

<div class="content">
	<div class="single">
		<div class="single__hero">
			<img src='/uploads/<%= store.photo || "store.png" %>' alt="<%= store.name %>" class="single__image">
			<h2 class="title title--single"><a href="/stores/<%=store.slug%>"><%= store.name %></a></h2>
		</div>

		<div class="single__details inner">
			<img src="<%= h.staticMap(store.location.coordinates) %>" alt="" class="single__map">
			<p class="single__location"><%= store.location.address %></p>
			<p><%= store. description %></p>
			
			<% if(store.tags){ %>
				<ul class="tags">
					<% store.tags.forEach((tag) =>{%>
						<li class="tag">
							<a href="/tags/<%= tag %>" class="tag__link">
								<span class="tag__text">#<%= tag %></span>
							</a>
						</li>
					<% }) %>
				</ul>
			<% } %>

			<% if(user){ %>
				<%- reviewForm(store) %>
			<% } %>

			<% if(store.reviews){ %>
				<div class="reviews">
					<% store.reviews.forEach(review =>{ %>
						<div class="review">
							<%- storeReviews(review) %>
						</div>
					<% }) %>
				</div>
			<% } %>
		</div>
	</div>
</div>